*{
    margin: 0;
    padding: 0;
}

    body{
        background: url(/IMAGES/download\ \(1\).jpg);
        background-repeat: none;
        background-position: center;
        background-size: cover
}
